.twitterlink {
    background-image: url(icons/twitter3.png); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    opacity: 0.35;
}
.twitterlink:hover{
    background-image: url(icons/twitter3_blue.png);
    opacity: 0.75;
}

.githublink {
    background-image: url(icons/guithub.png); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    opacity: 0.35;
}
.githublink:hover{
    background-image: url(icons/guithub_blue.png);
    opacity: 0.75;
}

.linkedinlink {
    background-image: url(icons/linkedin.png); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    opacity: 0.35;
}
.linkedinlink:hover{
    background-image: url(icons/linkedin_blue.png);
    opacity: 0.75;
}

.bloglink {
    background-image: url(icons/blog.png); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    opacity: 0.35;
}
.bloglink:hover{
    background-image: url(icons/blog_blue.png);
    opacity: 0.75;
}

.resumelink {
    background-image: url(icons/resume.png); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    opacity: 0.35;
}
.resumelink:hover{
    background-image: url(icons/resume_blue.png);
    opacity: 0.75;
}