.navbar {
    display: flex;
    justify-content: space-between;
    align-items: right;
    /* padding: 1rem 1.5rem; */
}

.hamburger {
    display: none;
    float: right;
    width: 75px;
    margin-top: -3.5rem;
    margin-right: .2rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000000;
}


.nav-menu {
    display: flex;
    
    
}

.nav-item {
    padding-left: 2.5rem;
    padding-bottom: .5rem;
    
}


/* Test accordion code top */

.accordion {
    /* width: 800px;
    margin: 90px auto; */
    color: black;
    width: 10rem;
    /* background-color: white; */
    /* padding: 45px 45px; */
  }

  .accordion .container {
    position: relative;
    /* margin: 10px 10px; */
  }
  
  /* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */
  
  .accordion .label {
    position: relative;
    /* padding: 10px 0; */
    color: black;
    cursor: pointer;
    --max-font: 20;
    --min-font: 16;
    font-family: var(--main-font);
    font-size: var(--responsive);
  }

  .accordion .label::before {
    content: '';
    color: black;
    position: absolute;
    top: 50%;
    right: -1px;
    /* font-size: 30px; */
    transform: translateY(-50%);
  }
  
  /* Hides the content (height: 0), decreases font size, justifies text and adds transition */
  
  .accordion .acontent {
    position: relative;
    background-color: #EEEEEE;
    height: 0;
    --max-font: 20;
    --min-font: 16;
    font-family: var(--main-font);
    font-size: var(--responsive);
    text-align: justify;
    width: 6em;
    overflow: hidden;
    transition: 0.5s;
  }

  .accordion .container.active .acontent {
    height: inherit;
    padding: .6rem 0 .6rem .0rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Changes from plus sign to negative sign once active */
  
  .accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
  }

  /* Test accordion code bottom */




.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}



/* .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
} */



@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: 100%;
        top: 6.5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: left;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        
    }
    
    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: .2rem .7rem .5rem 0rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
}
