* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
  }

/* body {
    margin: 0 5%;
    /* margin-top: 4rem; */


.header {
    background-color: #EEEEEE;
    padding-top: 2rem;
    padding-left: 8rem;
    padding-bottom: 2rem;
    /* padding-right: 6rem; */
}
  
h2 {
    color: black;
    font-weight: 400;
    font-size: 41px;
    letter-spacing: 2px
  }

h3 {
    color: #155FF0;
    font-weight: 400;
    font-size: 22px;
  }

p { 
    color: black;
    font-size: 14px;
  }

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

  a:visited {
    color: black;
}

a:hover {
color: #155FF0;
}

a:active {
    color:#155FF0;
}

a.link1 {
    color:#155FF0;
}

a.link2 {
    color:#155FF0;
}


.line2 {     
/*     display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
    position: relative;
    font-weight: 400;
    display: grid;
    grid-template-columns: 700fr 0fr 0fr 200fr;
    justify-content: center;
    grid-gap: 30px;
}


.PageContent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 5vw);
    position: relative;
    /* grid-gap: 20px; */
    /* margin-top: 750px;
    width: 800px;
    height: 500px; */
    /* padding-right: 10px; */
    position: absolute;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 8rem;
    padding-right: 6rem;
    /* margin: 2rem; */
    /* display: flex; */
    /* display: grid;
    grid-template-columns: 700fr 400fr;
    justify-content: center;
    grid-gap: 30px; */
}




.AboutDescription {
    /* height: 20fr;
    width: 20fr; */
    padding-right: 60px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}


/* .WorkDescription {
    height: 20fr;
    width: 20fr;
    padding-right: 60px;

} */

.PressBox {
    /* height: 20fr;
    width: 20fr; */
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 9;
    position: relative;
}

.EmailMe {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 11;

}

.button {
    border: 1px;
    max-width: 200px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
    cursor: pointer;
    background-color: #0A98DD;
    border: 1px solid gray;
    border-radius: 6px;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 11;

}

.button:hover {
background-color: #155FF0;
color: white;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #eeeeee; 
    /* padding-left: 25rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* padding-right: 25rem; */
    /* gap: 10px; */
}

.icons {
display: flex;
justify-content: space-around;
/* background-color: #eeeeee;  */
/* padding-left: 10rem;
padding-top: 2rem;
padding-bottom: 2rem;
padding-right: 10rem; */
gap: 10px;
}

.icon {
    opacity: 0.35;
}

.icon:hover {
    opacity: 0.5;
}