* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
  }

.header {
    background-color: #EEEEEE;
    height: 160px;
    padding-top: 3rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 2rem;
}

    /* Header Issue - Trying to align
    Mark title left and evenly space
    links aligned right but aligned
    perfectly with all content.  Tried
    Flex - do not know how. Difficulty
    making GRID items line up correctly */

.line2 {     
    position: relative;
    font-weight: 400;
    display: grid;
    grid-template-columns: 700fr 0fr 0fr 100fr;
    justify-content: center;
    grid-gap: 30px;
    /* display: flex;  
    justify-content: space-between;
    align-items: flex-end; */
}


h1 {
    color: black;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 41px;
    letter-spacing: 2px
  }

.contact {
    color: black;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 51px;
    letter-spacing: 2px
  }

h2 {
    color: rgba(255, 255, 255, 0.726);
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    padding-left: 1.5rem;
    /* padding-bottom: 0rem; */
}

h3 {
    color: #155FF0;
    font-weight: 400;
    font-size: 22px;
  }

h4 {
    color: black;
    font-weight: 400;
    font-size: 22px;
    font-family: playfair-display, serif;
  }

h5 {
    color: black;
    font-weight: 400;
    font-size: 15px;
    font-family: playfair-display, serif;
  }

h6 {
    color: black;
    font-weight: 400;
    font-size: 12px;
    /* font-family: playfair-display, serif; */
    line-height: 180%;
  }

h7 {
    color: #155FF0;
    font-weight: 400;
    font-size: 20px;
}

.Contact {
    color: black;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 30px;
}

p { 
    color: black;
    font-size: 14px;
  }

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
color: #155FF0;
}

a:active {
    color:#155FF0;
}


a.link1 {
    color:#155FF0;
}

a.link2 {
    color:#155FF0;
}

a.link3 {
    color:#155FF0;
}

.link3 {
    float: left;
    overflow: hidden;
}

.whatido {
    color:#155FF0;
}


/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
.dropdown .dropbtn {
    font-size: 18px;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.dropdown .dropbtn2 {
    font-size: 18px;
    color: blue;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EEEEEE;
    min-width: 116px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 9px 2px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #EEEEEE;
    color: #155FF0;

  }
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }



/* THIS WAS CLEANER AND EVERYTHING WAS BUT 
LINED UP PROPERLY BUT IT BREAKS THE WORK PAGE... have to figure that out */
/* .Content {
    min-height: calc(100vh - 250px);
    margin-left: 8rem;
    margin-right: 8rem;
  }


.PageContent {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 700fr 400fr;
    align-items: start;
    grid-gap: 30px;
} */

.whatidotitle {
    padding-top: 1em;
    text-align: left;
    font-size: x-large;
    /* position: sticky;
    top: 0; */
}

.Content {
    min-height: calc(100vh - 250px);
    padding-left: 6rem;
    padding-right: 6rem;
    position: relative;
  }

.PageContent {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* padding-left: 8rem;
    padding-right: 6rem; */
    display: grid;
    grid-template-columns: 700fr 400fr;
    align-items: start;
    grid-gap: 30px;
}

.AboutDescription {
    /* height: 20fr; */
    width: 85%;
    /* padding-right: 60px; */
    line-height: 155%;
}

.PressBox {
    height: 20fr;
    width: 20fr;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px lightgrey;
    border-radius: 6px;
    padding: 20px;
    justify-self: start;
}

.datetitle {
    display: flex;
}

.Contact {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

ul {
    /* background-color: white; */
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
    /* padding-left: 8rem;
    padding-right: 12rem;
    margin-bottom: 2rem; */
    display: flex;
    /* grid-template-columns: 700fr 200fr; */
    justify-content: space-between;
    /* grid-gap: 30px; */
    list-style-type: none;  
}

.Email {
    padding-top: 10px;
}

.footerbutton {
    border: 1px;
    max-width: 200px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
    cursor: pointer;
    background-color: #0A98DD;
    border: 1px solid gray;
    border-radius: 6px;
}

.footerbutton:hover {
    background-color: #155FF0;
    color: white;
}

.footer {
    display: flex;
    height: 110px;
    justify-content: center;
    background-color: #eeeeee; 
    /* padding-left: 25rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0em;
    /* padding-right: 25rem; */
    /* gap: 10px; */
}

.icons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.icon {
    opacity: 0.35;
}

.icon:hover {
    opacity: 0.65;
}


.Farmers {
    display: block;
    width: 550px;
    height: 330px;
    background: url(websites/FarmersCOLOR.png) no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px lightgrey;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.hide {
    display: none;
  }

.Farmers:hover + .hide {
    background: url(websites/FarmersWebBW.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px lightgrey;
    opacity: 0.3;
}

