* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
  }

/* body {
    margin: 0 5%;
    /* margin-top: 4rem; */


.header {
    background-color: #EEEEEE;
    padding-top: 2rem;
    padding-left: 8rem;
    padding-bottom: 2rem;
    padding-right: 6rem;
}
  
h2 {
    color: black;
    font-weight: 400;
    font-size: 41px;
    letter-spacing: 2px
  }

h3 {
    color: #155FF0;
    font-weight: 400;
    font-size: 22px;
  }

p { 
    color: black;
    font-size: 14px;
  }

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

  a:visited {
    color: black;
}

a:hover {
color: #155FF0;
}

a:active {
    color:#155FF0;
}

a.link1 {
    color:#155FF0;
}

a.link2 {
    color:#155FF0;
}


.line2 {     
/*     display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
    position: relative;
    font-weight: 400;
    display: grid;
    grid-template-columns: 700fr 0fr 0fr 200fr;
    justify-content: center;
    grid-gap: 30px;
    margin: 0 auto;
}


.PageContent {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 8rem;
    padding-right: 6rem;
    /* margin: 2rem; */
    /* display: flex; */
    display: grid;
    grid-template-columns: 700fr 200fr;
    justify-content: center;
    grid-gap: 30px;
}

.Contact {
    background-color: white;
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
    padding-left: 8rem;
    padding-right: 12rem;
    margin-bottom: 2rem;
    display: flex;
    /* grid-template-columns: 700fr 200fr; */
    justify-content: space-between;
    /* grid-gap: 30px; */
}

.AboutDescription {
    height: 20fr;
    width: 20fr;
    padding-right: 60px;
}


/* .WorkDescription {
    height: 20fr;
    width: 20fr;
    padding-right: 60px;

} */

.PressBox {
    height: 20fr;
    width: 20fr;
}

.button {
    border: 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    margin: 4px 2px;
    cursor: pointer;
    background-color: #0A98DD;
    border: 1px solid gray;
    border-radius: 6px;

  }

  .button:hover {
    background-color: #155FF0;
    color: white;
  }

.footer {
    display: flex;
    justify-content: center;
    background-color: #eeeeee; 
    /* padding-left: 25rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    /* padding-right: 25rem; */
    /* gap: 10px; */
}

.icons {
display: flex;
justify-content: space-around;
/* background-color: #eeeeee;  */
/* padding-left: 10rem;
padding-top: 2rem;
padding-bottom: 2rem;
padding-right: 10rem; */
gap: 10px;
}

.icon {
    opacity: 0.5;
}

