.Work {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-around;
    padding-top: 2rem;
    position: relative;
    z-index: 0;
}

.build-image {
  position: relative;
  border: 1px solid gray;
  border-radius: 6px;
  box-shadow: 5px 5px 5px lightgrey;
}

.build-image .image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px;

}

.overlay-image {
    position: relative;
    border: 1px solid gray;
    border-radius: 6px;
    box-shadow: 5px 5px 5px lightgrey;
  }
  
.overlay-image .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 6px;

  }

.overlay-image .heading {
  line-height: 2em;
}

.overlay-image .text {
  color: #fff;
  /* font-size: 30px; */
  /* line-height: 1.3em; */
  text-align: left;
  position: absolute;
  width: 80%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -20%);
  border-radius: 6px;

  }

.overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1.0s ease;
  border-radius: 6px;

  }
  
.overlay-image:hover .hover {
    opacity: 1;
    border-radius: 6px;

  }

.overlay-image:hover:hover .image {
    opacity: 0.13;
    filter: blur(2px);
    border-radius: 6px;

  }

.overlay-image .normal {
    transition: .7s ease;
  } 

.overlay-image:hover .normal {
    opacity: 0;
  }

.overlay-image .hover {
    background-color: white;
    position: absolute;
    display: inline-block;
  }

  
/* -------------PSEUDO----------- */

 .pseudover {
   position: relative;
   display: inline-block;
 }

 .pseudover:after {
    content: attr(title);
    color:  rgba(238,238,238,1.0);
    /* padding: .5em 1em; */
    font-family: 'Montserrat';
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .25s ease-in-out;
  }

.pseudover:hover:after {
    background:  rgba(238,238,238,1.0);
    color: #fff;
  }

.pseudover.v2:after {
  content: "";
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.pseudover.v2:hover:before {
  content: attr(title);
  position: absolute;
  margin-top: -.5em;
  top: 25%;
  left: 10%;
  width: 75%;
  color: black;
  z-index: 1;
  text-align: left;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;

}


